{% extends 'hopital/baseHopital.html' %} {% load i18n %} {% block content %}

<form method="post" class="p-3 mt-3">
  {% csrf_token %}
  <div class="form-field d-flex align-items-center">
    <span class="fa fa-user"></span>
    <input type="text" name="username" id="username" placeholder="Username" />
  </div>
  <div class="form-field d-flex align-items-center">
    <span class="fa fa-key"></span>
    <input type="password" name="password" id="pwd" placeholder="Password" />
  </div>
  <div class="form-field d-flex align-items-center">
    <span class="fa fa-solid fa-envelope"></span>
    <input type="text" name="email" id="email" placeholder="Email" />
  </div>
  <div class="form-field d-flex align-items-center">
    <span class="fa fa-phone"></span>
    <input type="text" name="phone" id="phone" placeholder="Telephone" />
  </div>
  <div class="form-field d-flex align-items-center">
    <span class="fa fa-user"></span>
    <select id="status" name="status">
      <option value="patient">Patient</option>
      <option value="docteur">Docteur</option>
      <option value="hopital">Hopital</option>
    </select>
  </div>
  <input
    type="file"
    accept="image/png, image/jpeg"
    name="photoProfil"
    id="photoProfil"
  />

  <button class="btn mt-3">S'inscrire</button>
</form>

{% endblock %}
