.bodyHomePage {
  position: fixed;
  height: 90vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-image: url("https://www.indexsante.ca/chroniques/images/groupe-medecins.jpg");
}

.titre {
  text-align: center;
}

.bg_titre {
  background-color: rgba(0, 0, 0, 0.192);
}

/* https: //previews.123rf.com/images/kurhan/kurhan1510/kurhan151001926/47210542-groupe-de-m%C3%A9decins-professionnels-les-soins-de-sant%C3%A9-de-base-m%C3%A9dicale-.jpg
; */
