{% extends 'docteur/baseDocteur.html' %} {% block content %}
<h1>Analyse</h1>
<button class="btn btn-skin btn-lg">
  <a
    class="nav-link text-center text-light"
    href="{% url 'voirAnalyseMedicalMedecin' %}"
    >Voir mes analyses medicales</a
  >
</button>

  <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s"></div>
  {% csrf_token %}
  <div class="form-wrapper">
    <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
      <div class="panel panel-skin">
        <div class="panel-heading">
          <h3 class="panel-title text-center">
            Faire une prédiction de l'analyse
          </h3>
        </div>
        <div class="panel-body">
          <form
            class="lead"
            method="POST"
            action="{% url 'analyseMedicale' %}"
            enctype="multipart/form-data"
          >
            {% csrf_token %}

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label>Matricule du patient</label>
                  <input
                    type="text"
                    name="matriculePatient"
                    id="matriculePatient"
                    class="form-control input-md"
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label>Scanner</label>
                  {{form.scanner}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label>Description</label>
                  {{form.butAnalyse}}
                </div>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-6" style="display: None">
                <div class="form-group">
                  <label>Description</label>
                  {{form.patient}}
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6" style="display: None">
                <div class="form-group">
                  <label>Description</label>
                  {{form.docteur}}
                </div>
              </div>
               <div class="col-xs-6 col-sm-6 col-md-6" style="display: None">
                <div class="form-group">
                  <label>Description</label>
                  {{form.resultat}}
                </div>
              </div>
            </div>
            <input
              type="submit"
              value="Analyser avec le model"
              class="btn btn-skin btn-block btn-lg"
            />

            <p class="lead-footer"></p>
          </form>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</form>
