{% extends 'docteur/baseDocteur.html' %} {% load static %} {% block content %}

<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
  <div class="card p-4" style="display: flex; flex-direction: row">
    <button class="btn btn-secondary">
      <img src="{{ request.user.photoProfil.url }}" />
    </button>
    <div
      class="image d-flex flex-column justify-content-center align-items-center"
      style="margin-left: 50px"
    >
      <h1 class="idd">{{ request.user.prenom}} {{ request.user.nom}}</h1>
      <h3 class="idd">
        {{ request.user.special}}
        <h3 class="idd">{{ request.user.hopital.nomHopital}}</h3>
        <p>Matricule hopital: {{ request.user.hopital.id}}</p>
      </h3>
      <h3 class="idd">{{ request.user.specialite}}</h3>
      <p class="idd">{{ request.user.email}}</p>
      <p class="idd">Adresse:{{ request.user.adresse}}</p>
      <h3 class="idd">Votre matricule:{{ request.user.matricule}}</h3>
      <p class="idd">Bureau:{{ request.user.bureau}}</p>

      <div class="d-flex mt-2">
        <button class="btn btn-skin btn-lg">
          <a
            class="nav-link text-center"
            href="{% url 'updateProfilDocteur' %}"
          >
            Modifier votre profil
          </a>
        </button>
      </div>
      <div
        class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"
      >
        <span><i class="fa fa-twitter"></i></span>
        <span><i class="fa fa-facebook-f"></i></span>
        <span><i class="fa fa-instagram"></i></span>
        <span><i class="fa fa-linkedin"></i></span>
      </div>
      <div class="px-2 rounded mt-4 date">
        <span class="join">Joined May,2021</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
