{% extends 'docteur/baseDocteur.html' %} {% load static %} {% block content %}

<button class="btn btn-skin btn-lg" style="margin: 10px">
  <a class="nav-link text-center" href="{% url 'creerRendezVousPourPatient' %}"
    >Créer un rendez-vous pour un patient</a
  >
</button>

<div class="row">
  <div class="col-lg-7 col-md-12">
    <div class="card" style="min-height: 485px">
      <div class="card-header card-header-text">
        <h4 class="card-title">Mes rendez-vous</h4>
      </div>
      <div class="card-content table-responsive">
        <table class="table table-hover">
          <thead class="text-primary">
            <tr>
              <th>Patient</th>
              <th>Heure Début</th>
              <th>Heure Fin</th>
              <th>Mes problèmes</th>
              <th>Statut</th>
              <th>Confirmer</th>
              <th>Modifier</th>
              <th>annuler</th>
            </tr>
          </thead>
          <tbody>
            {% for rv in RendezVousMedicalDocteur %}
            <tr>
              <td>
                <div style="display: flex; flex-direction: row">
                  <img
                    width="50px"
                    height="50px"
                    src="{% static 'medicio/img/dummy/img-1.jpg' %}"
                    class="img-responsive"
                    alt=""
                  />
                  {{ rv.patient.prenom }} {{ rv.patient.nom }}
                </div>
              </td>
              <td>{{rv.heureDebut}}</td>
              <td>{{rv.heureFin}}</td>
              <td>{{ rv.objectRV}}</td>
              <td style="min-width: 70px">{{ rv.statut}}</td>
              <td>
                <button class="btn" style="background: yellow">
                  <a class="text-center" href="">Confirmer</a>
                </button>
              </td>
              <td>
                <button class="btn" style="background: gray">
                  <a class="text-center" href="">Modifier</a>
                </button>
              </td>
              <td>
                <button class="btn" style="background: red">
                  <a class="text-center" href="">Annuler</a>
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-lg-5 col-md-12">
    <div class="card" style="min-height: 485px">
      <div class="card-header card-header-text">
        <h4 class="card-title">Statistiques des rendez-vous</h4>
      </div>
      <div class="card-content">
        <p>total rendez-vous</p>
        <p>total rendez-vous aujourd'hui</p>
        <p>total rendez-vous annule aujourd'hui</p>
        <p>total rendez-vous semaine prochaine</p>
        <p>moyen rendez-vous par jour</p>
        <p>moyen rendez-vous par semaine</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
