{% extends 'docteur/baseDocteur.html' %} {% block content %}

<div class="container mb-4 p-3 justify-content-center">
     {% for analyse in AnalyseMedicalMedecin %}
  <div class="card p-4" style="display: flex; flex-direction: row">
    <button class="btn btn-secondary">
     <img src="{{ analyse.scanner.url }}" alt="{{ analyse.scanner }}" class="img-fluid" width="700" height="50" alt="...">
    </button>
    <div
      class="image d-flex flex-column justify-content-center align-items-center"
      style="margin-left: 50px"
    >
      <h1 class="idd">{{ analyse.patient.prenom }} {{ analyse.patient.nom }}</h1>
        <p> {{analyse.butAnalyse}}</p>
      <h3 class="idd">{{analyse.dateAnalyse}}</h3>
      <div class="d-flex mt-2">
        <button class="btn btn-skin btn-lg">
            {{ analyse.resultat}}
        </button>
      </div>
    </div>
  </div>
     {% endfor %}
</div>

{% endblock %}

