{% extends 'docteur/baseDocteur.html' %} {% load static %} {% block content %}

<div class="row">
  <div class="col-lg-7 col-md-12">
    <div class="card" style="min-height: 485px">
      <div class="card-header card-header-text">
        <h4 class="card-title">Mes consultations</h4>
      </div>
      <div class="card-content table-responsive">
        <table class="table table-hover">
          <thead class="text-primary">
            <tr>
              <th>Patient</th>
              <th>Pronostic</th>
              <th>Diagnostic</th>
              <th>Medicaments</th>
              <th>Date</th>
              <th>Statut</th>
              <th>Version pdf</th>
            </tr>
          </thead>
          <tbody>
            {% for dossier in DossierMedicalMedecin %}
            <tr>
              <td>
                <div style="display: flex; flex-direction: row">
                  <img
                    width="50px"
                    height="50px"
                    src="{% static 'medicio/img/dummy/img-1.jpg' %}"
                    class="img-responsive"
                    alt=""
                  />
                  {{ dossier.patient.prenom }} {{ dossier.patient.nom }}
                </div>
              </td>
              <td>{{dossier.pronostic}}</td>
              <td>{{dossier.diagnostic}}</td>
              <td class="badge bg-soft-success">{{ dossier.medicaments}}</td>
              <td>{{dossier.date_creationDossierMedical}}</td>
              <td>{{dossier.statut}}</td>
              <td>
                <a href="{% url 'pdf' dossier.id %}">Voir en PDF</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-lg-5 col-md-12">
    <div class="card" style="min-height: 485px">
      <div class="card-header card-header-text">
        <h4 class="card-title">Statistiques consultations</h4>
      </div>
      <div class="card-content">
        <p>total consultation</p>
        <p>total consultation today</p>
        <p>total consultation week</p>
        <p>maladie plus frequente</p>
        <p>moyen cas par jour</p>
        <p>moyen cas par semaine</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
