{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Allo docteur</title>


  </head>
  <style>
    .title {
      color: blue;
    }
    .text_center {
      text-align: center;
    }
.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  height: 300px; /* Should be removed. Only for demonstration */
}
  </style>
  <body>
    <div class="title">
      <div >
        <h1>Hopital Fann</h1>
        <p>Email: test@test.com</p>
        <p>Telephone: 77 777 77 77</p>
        <p>Adresse: Avenue Cheikh Anta Diop</p>
      </div>
    </div>

    <h1 class="text_center">Ordonnance</h1>
    <div class="row">
      <div class="column" >
        <h4>Patient</h4>
        <img src="{% static 'users/card_biblio.png' %}">

        <p>{{ patient.13 }} {{ patient.14 }}</p>
        <p>Poids: 70Kg</p>
        <p>Age: 20 ans</p>
      </div>
      <div class="column">
        <h4>Docteur</h4>
        <p>Docteur {{ data0.13 }} {{ docteur.14 }}</p>
        <p>{{ data0.21 }} </p>
      </div>
    </div>
    <div class="" >
       <h1 class="text_center" >Medicaments</h1>
      <p>{{ dossier.3 }} </p>

    </div>

  </body>
</html>
