<div class="background:blue">
  <div style="display: flex; justify-content: center">
    <h1>Hopital Fann</h1>
    <p>Email: test@test.com</p>
    <p>Telephone: 77 777 77 77</p>
    <p>Adresse: Avenue Cheikh Anta Diop</p>
  </div>
  <img src="https://www.sante.gouv.sn/sites/default/files/hopkaff.jpg" />
</div>

<h1>Ordonnance</h1>
<div>
  <div>
    <h4>Patient</h4>
    <p>{{dossier.docteur.nom}}</p>
    <p>Poids: 70Kg</p>
    <p>Age: 20 ans</p>
  </div>
  <div>
    <h4>Docteur</h4>
    <p>M. Mamadou Diop</p>
  </div>
</div>
<div>
  <h6>Ca 5000</h6>
</div>
