{% extends 'patient/basePatient.html' %} {% load static %} {% block content %}
<h1>Rendez vous medical</h1>
<button class="btn btn-skin btn-lg">
  <a class="nav-link text-center" href="{% url 'creerRendezVousPatient' %}">
    Prendre un rendez vous avec un medecin</a
  >
</button>
<h6>Nom du patient: {{ request.user }}</h6>
<div class="row" style="justify-content: center">
  <div id="service" class="home-section nopadding pt-5 row col-lg-12 col-md-12">
    <div
      class="container col-sm-12 col-md-12"
      style="display: flex; flex-wrap: wrap"
    >
      {% for rv in RendezVousMedicalPatient %}
      <div class="row col-12 col-lg-6 col-sm-12 UnRV">
        <div class="col-sm-7 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <img
              src="{% static 'medicio/img/dummy/img-1.jpg' %}"
              class="img-responsive"
              alt=""
            />
            <div class="text-center">
              <p>Docteur {{rv.docteur.prenom}} {{rv.docteur.nom}}</p>
              <p>Medecin generaliste</p>
              <p>Hopital Fann</p>
              <p>{{rv.docteur.matricule}}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-6">
          <div class="wow fadeInRight" data-wow-delay="0.3s">
            <div class="service-box">
              <div class="service-icon">
                <span class="fa fa-user-md fa-3x"></span>
              </div>
              <div class="service-desc">
                <h5 class="h-light">Date</h5>
                <p>{{ rv.date_RV}}</p>
              </div>
            </div>
          </div>
          <div class="wow fadeInRight" data-wow-delay="0.3s">
            <div class="service-box">
              <div class="service-icon">
                <span class="fa fa-user-md fa-3x"></span>
              </div>
              <div class="service-desc">
                <h5 class="h-light">Type de rendez-vous</h5>
                <p>{{ rv.typeRV}}</p>
              </div>
            </div>
          </div>

          <div class="wow fadeInRight" data-wow-delay="0.3s">
            <div class="service-box">
              <div class="service-icon">
                <span class="fa fa-user-md fa-3x"></span>
              </div>
              <div class="service-desc">
                <h5 class="h-light">Heure de debut</h5>
                <p>{{ rv.heureDebut}}</p>
              </div>
            </div>
          </div>

          <div class="wow fadeInRight" data-wow-delay="0.3s">
            <div class="service-box">
              <div class="service-icon">
                <span class="fa fa-user-md fa-3x"></span>
              </div>
              <div class="service-desc">
                <h5 class="h-light">Heure de fin</h5>
                <p>{{ rv.heureFin}}</p>
              </div>
            </div>
          </div>
          <div class="wow fadeInRight" data-wow-delay="0.3s">
            <div class="service-box">
              <div class="service-icon">
                <span class="fa fa-user-md fa-3x"></span>
              </div>
              <div class="service-desc">
                <h5 class="h-light">Bureau du medecin</h5>
                <p>12D4</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content%}
